@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-900;
}

.card {
  @apply w-[44rem] h-[26rem] bg-neutral-800 rounded-lg border border-neutral-600 flex flex-row p-8 absolute justify-between stroke-[0.1] hover:stroke-[0.15];
}
